ACCESS_TOKEN_EXPIRY_TIME=15s
CLOUDINARY_API_KEY=226981978797569
CLOUDINARY_API_SECRET_KEY=RoNamvsMcb6ITpAAd-RtsRvEyg0
CLOUDINARY_CLOUD_NAME=djt5tuvib
CLOUDINARY_URL=cloudinary://226981978797569:RoNamvsMcb6ITpAAd-RtsRvEyg0@djt5tuvib
DBNAME=tagly
HOST=localhost
JWT_SECRET_KEY=vinod
JWT_SECRET_KEY_ACCESS_TOKEN=vinodAccessTokenDo
JWT_SECRET_KEY_REFRESH_TOKEN=vinodRefreshTokenDo
MONGO_URI=mongodb+srv://kundanprogrammerz:kBH2VvI5HCByjWCF@cluster0.inizfbg.mongodb.net
OTP_EXPIRY_TIME=5
PORT=3000
REFRESH_TOKEN_EXPIRY_TIME=7d
SMTP_HOST=smtp.gmail.com
SMTP_PASS=nxcexjejiqcfhuob
SMTP_PORT=587
SMTP_USER=info.croma1@gmail.com